<body>
<form action="#" method="post">
  {% csrf_token %}

<table border="1">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Samsung</td>
      <td>Galaxy S21</td>
      <td>$999.99</td>
      <td><img src="/static/s21.PNG" alt="Samsung Galaxy S21"></td>
      <td><button type="submit"> <a href="welcome.html">Buy Now</a> </button></td>
    </tr>
    <tr>
      <td>Apple</td>
      <td>iPhone 12</td>
      <td>$1099.99</td>
      <td><img src="/static/apple.PNG" alt="Apple iPhone 12"></td>
      <td><button type="submit"> <a href="welcome.html">Buy Now</a> </button></td>
    </tr>
    <tr>
      <td>Google</td>
      <td>Pixel 5</td>
      <td>$699.99</td>
      <td><img src="/static/pixel.PNG" alt="Google Pixel 5"></td>
      <a href="http://localhost:8000/login/">LogOut</a>
      <td><button type="submit"> <a href="welcome.html">Buy Now</a> </button></td>
    </tr>
  </tbody>
</table>
</form>
</body>

